<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Edit gallery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/scripts.js}" defer></script>
</head>
<body>
<div class="container">

    <div class="row">
        <span class="col-md-6">

            <table class="table">
                <thead>
                    <tr>
                        <th> Gallery name: <span th:text="${gallery.name}"></span> </th>

                    </tr>
                </thead>

                <div th:switch="${gallery.photos.isEmpty()}">
                    <h2 th:case="true">No photos yet!</h2>

                    <div th:case="*">

                        <tr th:each="photo : ${gallery.photos}">
                            <td>
                                <span th:if="${photo.id != null}">

                                    <div class="photo">
                                        <img th:src="@{${photo.url}}"/>
                                    </div>
                                        <img th:text="${photo.url}"/>

                                </span>
                            </td>
                        </tr>
                    </div>
                </div>

            </table>

            <form id="add-gallery" action="#" th:action="@{/galleries/{id}(id=${gallery.id})}"
                  th:object="${photoDto}" method="post">
                    <h4> Add new photo </h4>

                    <input type="text" id="filename" th:field="*{url}" placeholder="File full-name">

                    <input type="button" value="Submit photo" th:onclick="loadImage()">

            </form>



        </span>
    </div>
    <div class="row">
        <a class="btn btn-success" href="#" th:href="@{/logout}"> Logout </a>
    </div>
</div>
</body>
</html>

